{% extends "bootstrap/base.html" %}
{% block content%}

<head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
</head>

<script type="text/javascript">
        function loading(){
            $("#loading").show();      
        }
</script>

<style>
body {
  background: #333333;
}

#loading {
    width: 150px;
    height: 150px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	background: url(sample_img/out/ajax-loader.gif) no-repeat;
    cursor: wait;
    }
</style>
<br>

<div id="content">

<div class="container" style="color: white">

  <h2 class="page-header text-center">Business Information Retrieval</Object></h2>

  <!-- <div class="jumbotron" style="background-color:#1daeff !important;">
    <h2 style="color:#fff;">Detecting objects inside house</h2>      
  </div>           -->
</div>

<div class="container" >
	<form class = "form-inline text-center"action="{{url_for('predict') }}" method="POST">
      <div class="form-group">
          <input type="text" name="search">
      
      </div>
      
      
        
      <button type="submit" class="btn btn-primary" value="search" onclick="loading();">Search</button>
		
		
  </form>
  <br>
  <br>
  <div id ="loading" class="text-center"></div>
  
  
</div>

</div>
{% endblock %}